a {
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

nav {
  height: 10vh
}

main {
  height: 76vh
}

footer {
  height: 10vh
}
  