.Callback {
  text-align: center;
}

.Callback-Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a.news-link {
  color: #0077cc; /* Link text color */
  text-decoration: none; /* Remove underline */
}

a.news-link:hover {
  text-decoration: underline; /* Add underline on hover */
  color: #004466; /* Change color on hover */
}